In [2]:
import numpy as np
import pandas as pd
from sklearn import tree

In [3]:
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [4]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-versicolor
3,4,5.05,2.03,4.00,1.03,Iris-versicolor
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [6]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [7]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,species
0,1,7.00,3.02,4.07,1.04,0,0
1,2,6.04,3.02,4.05,1.05,0,0
2,3,6.09,3.01,4.09,1.05,0,0
3,4,5.05,2.03,4.00,1.03,0,0
4,5,6.05,2.08,4.06,1.05,0,0

In [8]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  \
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

    species
0         0
1         0
2         0
3         0
4         0
..      ...
95        1
96        1
97        1
98        1
99        1

[100 rows x 7 columns]

In [ ]:
irisDataset = irisDataset.to_numpy()

In [9]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  \
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

    species
0         0
1         0
2         0
3         0
4         0
..      ...
95        1
96        1
97        1
98        1
99        1

[100 rows x 7 columns]

In [ ]:
irisDataset = irisDataset.drop(labels="id", axis=1)

In [10]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  \
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

    species
0         0
1         0
2         0
3         0
4         0
..      ...
95        1
96        1
97        1
98        1
99        1

[100 rows x 7 columns]

In [ ]:
irisDataset = irisDataset.to_numpy()

In [11]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  \
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

    species
0         0
1         0
2         0
3         0
4         0
..      ...
95        1
96        1
97        1
98        1
99        1

[100 rows x 7 columns]